.site-greeting{
	font-family: Lobster;
	color: white;
}

body{
	/*margin-top: 70px;*/
	margin: 0;
	padding: 0;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6{
	font-family: Poppins;
	color: #666;
}

p{
	font-family: Roboto;
}

/*.navbar-inverse,
#showcase{
	margin: 0;
	padding: 1px;
}*/

.navbar-inverse{
	border: 0;
	font-family: Poppins;
	background: #02111D;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #02111D, #037BB5, #02111D);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #02111D, #037BB5, #02111D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#navbar a{
	color: white;
}

#navbar a:hover{
	text-decoration: underline;
}

.navbar-brand{
  font-size:20px;
  color:#000 !important;
  font-weight:bold;
}

#about h1{
	font-size: 50px;
	margin-bottom: 20px;
}

#about img{
	width: 90%;
	margin-left: 60px;
}

#about .showcase-right{
	margin-top: 90px;
}

.navbar-default .navbar-nav li a:hover{
	color:#09c1af;
}

#home{
background: #24C6DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


	padding: 50px 0 30px 0;
	text-align: center;home
	margin-top: 40px;
}

#home p{
	font-size: 32px;
	font-family: 'Josefin Sans';
	color: #000000;
}

#home p.customer{
	font-size: 15px;
	color: #fff;
}

#info1 .info-right{
	margin-top: 90px;
}

#info2{
	margin-top: 20px 0 60px 0;
}

#well3{
background: #16222A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#contact{
	background: url(../img/image5.jpg);
	padding: 100px;
	color: #ffffff;
	border-top: #333 2px solid;
	border-bottom: #333 7px solid;
}

#contact h3{
	text-decoration: underline;
	color: #fff;
}

#contact a{
	color: #e2e1f7;
}

#contact a,
#contact h3{
	-webkit-filter: drop-shadow(1px 1px 1px #222 );
  	filter: drop-shadow(1px 1px 1px #222);
}

.card {
    width: 512px;
    height: 512px;
    position: relative;
    display: inline-block;
    margin: 50px;
}
.card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card:hover .img-top {
    display: inline;
}

.fa-ul{
	color: #999999;
}

#contactTouch h1{
	font-family: Lobster;
	color: #fff;
}

footer{
	padding: 30px;
	font-size: 15px;
	color: #89897a;
}

#check{
	color: green;
}

#well1{
	background: #C04848;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #480048, #C04848);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #480048, #C04848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#well2{
	background: #00467F;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #A5CC82, #00467F);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #A5CC82, #00467F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* welcome image animation */
.swing {
    animation: swing ease-in-out 3s infinite alternate;
    transform-origin: center -20px;
    float:left;
}

.swing img {
    display: block;
}
 
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}
/* end */

footer{
	background: #ADA996;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}